:root {
  --bg-color-primary: #121212;
  --bg-color-secondary: #3f3f3f;
  --fg-color-primary: #ffffff;
  --fg-color-secondary: #4f42ff;
}

html,
body {
  background: var(--bg-color-primary);
  color: var(--fg-color-secondary);
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

#app {
  margin: 0;
  padding: 0;
}
